


body 
{
	background-image: url("../IMAGES/Logo/logo3.jpg");
	background-repeat: no-repeat;
	background-position: right top;
    background-attachment:fixed;
    background-position: center;
    background-color: #0d0f0e;
    font-family: 'Megrim', cursive;
}

.logout
{
    border-radius: 50%;
    position: absolute;
    top:20px;
    right:20px;
    width: 100px;
}

.titre
{
    text-align: center;
    color: #cfcfcf;
    font-size: 100px;
    font-weight: bold;
}

p
{
    font-weight: bold;
}

* 
{
    box-sizing: border-box;
}
  
.header 
{
    text-align: center;
    padding: 32px;
    color: #cfcfcf;
    font-weight: bold;
    font-size: 30px;
}
  
.row 
{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}
  
/* Create four equal columns that sits next to each other */
.column 
{
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
  
.column img 
{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
  
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column 
    {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column 
    {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
}

#text
{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
  
.sidebar a 
{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 50px;
    color: #cfcfcf;
    display: block;
    font-weight: bold;
}
  
.sidebar a:hover 
{
    color: #cfcfcf;
}
  
.main 
{
    margin-left: 160px;
    padding: 0px 10px;
}
  
@media screen and (max-height: 450px) 
{
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.insta
{
    position:absolute;
    bottom: 40px;
    left: 15px;
    width: 60px;
}

.discord
{
    position:absolute;
    bottom: 38px;
    left: 80px;
    width: 60px;
}